.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 8px 0 rgba(64, 77, 148, 0.4);
  margin-bottom: 73px;
  margin-right: 10px;
  margin-left: 8px;
  height: 430px;
  width: 348px;
  border-radius: 10px;
}
.imageContainer {
  margin-top: 34px;
}
.image {
  width: 200px;
  height: 180px;
}
.titleContainer {
  margin-top: -3px;
  height: 161px;
  padding: 0 5px;
  overflow: hidden;
}

.title {
  font-size: 19px;
  font-weight: 700;
  margin-top: 15px;
}
.priceContainer {
  margin-top: -58px;
  margin-left: -21px;
}
.cart_btn {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  height: 33px;
  border: 1px solid #7064e5;
  color: #fff;
  width: 100%;
  font-size: 20px;
  background: #7064e5;
}
